
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h3{
  text-align: center;
}

.tapas-div{
  position: absolute;
  width: 300px;
  top: 20%;
  left: calc(50% - 150px);
}

#tapas-ul>li {
  position: relative;
  list-style-type: none;
  padding: .5em 0;
  border-bottom: .5px solid black;
}

#tapas-ul>li>.fa{
  position: absolute;
  right: 0;
}