
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

html {
  background: url('../images/background.jpg') no-repeat;
}

.main-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  list-style-type: none;
}

.main-ul > li.pill {
  position: relative;
  margin: 0 5em;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-ul > li.pill a{
  text-decoration: none;
  padding: .5em 2em;
  color: white;
  background-color: #37474f;
  border: 1px solid #263238;
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  top: 30px;
  left: -30px;
  padding: 10px;
  opacity: 1;
  display: none;
  opacity: 0;
  transition: .25s all;
  overflow: hidden;
  will-change: transform;
  transform: translateX(20px);
}

.enter {
  display: block;
}

.enter-active{
  opacity: 1;
}


.about {
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-250px);
}

.about>img {
  float: left;
  margin-right: 15px;
}

.courses {
  min-width: 200px;
}

.courses > li, .links > li {
  padding: 1em 0;
  display: block;
}

.links {
  min-width: 200px;
  padding: 1em 0;
}

.follower {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  transition:all 0.3s, opacity 0.1s, translate 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform-origin: 50% 0;
}

.follower.show {
  opacity: 1;
}